<nav>
    <div class="site-title">
        <a href="/">
            <h1>
                Blinding Lights 
            </h1>
        </a>
        <p>
            ThErE aRe FoUr LiGhTs
        </p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Aboot</a></li>
        <li><a href="/blogs/create">Wise guy</a></li>
        <li><a href="/login" >Login</a></li>
        <li><a href="/signup">Signup</a></li>
    </ul>
</nav>