<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="aboot content">
        <h2>
            Coke-e-cola
        </h2>
    </div>
</body>
<%- include('./partials/foot') %>
</html>