<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="create_blog">
        <form action="/blogs" method="POST">
            <label for="title">Blog Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="snippet"> Shorter</label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Body Snatchers</label>
            <textarea  id="body" name="body"></textarea>
            <button> Send off for inspection</button>
        </form>
    </div>
</body>
<%- include('./partials/foot') %>
</html>